<div class="w-full bg-black py-10">
    <div id="footer" class="text-white w-full max-w-[1280px]">

        {% block footer %}
            &copy; Copyright 2011 by <a href="#">Astro Core</a>.
        {% endblock %}
    </div>
</div>