{% extends 'layouts/app.html.twig' %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="flex flex-col max-w-7xl mx-auto px-2 lg:flex-row">
        <div class="flex flex-1">

        </div>
        <div class="flex flex-1">
            <form class="mt-5 flex flex-1 flex-col" method="post" action="/register">
                <div class="field flex flex-1 flex-row py-2">
                    <label class="flex flex-1 flex-col">
                        <span class="font-bold mb-2 text-gray-800">First Name</span>
                        <input type="text" name="firstName" placeholder="First Name" class="flex flex-1 bg-gray-100 rounded py-2 px-4"/>
                    </label>
                    <div class="flex-1"></div>

                    <label class="flex flex-1 flex-col">
                        <span class="font-bold mb-2 text-gray-800">Last Name</span>
                        <input type="text" name="lastName" placeholder="Last Name" class="flex flex-1 bg-gray-100 rounded py-2 px-4"/>
                    </label>
                </div>

                <div class="field flex flex-1 flex-row py-2">
                    <label class="flex flex-1 flex-col">
                        <span class="font-bold mb-2 text-gray-800">Email</span>
                        <input type="text" name="email" placeholder="Email" class="flex flex-1 bg-gray-100 rounded py-2 px-4"/>
                    </label>
                </div>

                <div class="field flex flex-1 flex-row py-2">
                    <label class="flex flex-1 flex-col">
                        <span class="font-bold mb-2 text-gray-800">Password</span>
                        <input type="password" name="password" placeholder="Password" class="flex flex-1 bg-gray-100 rounded py-2 px-4"/>
                    </label>
                </div>

                <div class="field flex flex-1 flex-row py-2">
                    <label class="flex flex-1 flex-col">
                        <span class="font-bold mb-2 text-gray-800">Repeat Password</span>
                        <input type="password" name="repeatPassword" placeholder="Repeat Password" class="flex flex-1 bg-gray-100 rounded py-2 px-4"/>
                    </label>
                </div>

                <div class="field flex flex-1 flex-row py-2">
                    <button type="submit" class=" inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-red-500 hover:bg-red-700">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}