<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="/css/style.css"/>
        <title>{% block title %}{% endblock %} - Astro Core</title>
    {% endblock %}
</head>
<body>

{% include 'partials/header.html.twig' %}


{% block content %}
{% endblock %}

{% include 'partials/footer.html.twig' %}

{% block scripts %}
    <script defer src="/js/manifest.js"></script>
    <script defer src="/js/react.min.js"></script>
    <script defer src="/js/index.js"></script>
{% endblock %}
</body>
</html>