{% extends "layouts/app.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="flex w-full p-5">
        <h1 class="text-6xl">Home</h1>
        <p class="text-cyan-600">
            Welcome on my awesome homepage.
        </p>
    </div>
{% endblock %}